<section id="testimonials" class="testimonials section dark-background">
    <img src="assets/images/blog/testimonials-bg.jpg" class="testimonials-bg" alt="">
</section>
<section id="blog" class="blog section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Attention: Misuse of the GLS brand for fraud</h3>
                <p>Internet and email fraud incidents are on the rise. Fraudsters are misusing the GLS name to send fake
                    emails to both individuals and businesses. If you have received or are still receiving a payment
                    request, do not comply with it under any circumstances. If you have complied with a payment request,
                    we strongly recommend filing a report with your local police. GLS distances itself from such fraud
                    attempts.</p>
                <p>Here are some tips to help detect fraud and avoid being victimized:</p>

                <ul>
                    <li> We do not transport cash (currency in legal tender), securities or bank checks.</li>
                    <li>We do not intervene in economic money transactions, either between individuals or between
                        companies.</li>
                    <li>We are not intermediaries or depositories in the sale of second-hand products.</li>
                    <li>We do not request payment details by e-mail or SMS to create a customer account at GLS.</li>
                    <li>We do not use online platforms dedicated to the sale of products to promote our shipments or
                        services.</li>
                    <li>We will never ask recipients by e-mail to pay the purchase price of goods via an online payment
                        system, credit card or bank transfer.<b> In case you are expecting a parcel from a non-EU
                            country or if you are based in a non-EU country you may be contacted to pay duties &amp;
                            taxes by Email, SMS or letter by either GLS or an authorized agent.</b></li>
                    <li>Cash on delivery parcels sent using the GLS Cash Service are only given to recipients against
                        cash payment to the delivery driver.</li>
                </ul>
                <p>There are a variety of different types of fraud on different communication channels, such as</p>
                <ul>
                    <li>Fraudulent e-mails</li>
                    <li>SMS / Instant Messengers</li>
                    <li>Fake GLS websites</li>
                    <li>Social media</li>
                </ul>
                <p>We take a proactive approach to fraud and are grateful for any reports of fraudulent activity on
                    behalf of GLS. Please let us know as soon as possible if you suspect you have received fake e-mails
                    or SMS, or if a website or social media account is impersonating GLS, so we can take swift action to
                    stop the fraud.</p>
                <p><b>Please report any suspicious activity to our Information Security team at</b></p>
                <p class="text-center">
                    <a href="mailto:security@gls-group.com?subject=" class="btn btn-primary" data-analytics="click"
                        data-analytics-action="Link" data-analytics-category="Button Link Primary">
                        {{ 'security@logistic-group.com' }} </a>
                </p>
                <p>We thoroughly investigate every report of suspected fraud, but generally do not respond to personal
                    inquiries. If you have questions about the status of a shipment or invoice, please send them
                    directly to the customer service team of your country.</p>
                <div class="text-center">
                    <img src="assets/images/blog/service-1.jpg" class="testimonials-bg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>