<header id="header" class="header fixed-top">
    <div class="header-top container-fluid position-relative d-flex align-items-center">
        <a routerLink="/" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Logistic</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a routerLink="/">Home<br></a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <!-- <li><a href="services.html" class="active">Services</a></li> -->
                <li><a routerLink="/faq">FAQ</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <div class="bars clickable-bar" (click)="toggleSidebar()">
            <span class="bar-1"></span>
            <span class="bar-2"></span>
            <span class="bar-3"></span>
        </div>
        <!-- <a class="btn-faq" routerLink="/login">Login</a> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-bs-toggle="dropdown" href="#">
                    <i class="fas fa-lg fa-user-circle text-white"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <button class="dropdown-item">
                        <i class="fas fa-cubes"></i>
                        Dashboard
                    </button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)="logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        Đăng xuất
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <app-sidebar *ngIf="toggle"></app-sidebar>
</header>