<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="assets/img/world-dotted-map.png" alt="" class="hero-bg">

    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2>Package of benefits for your business</h2>
                <p>Facere distinctio molestiae nisi fugit tenetur repellat non
                    praesentium nesciunt optio quis sit odio nemo quisquam. eius quos reiciendis eum vel eum voluptatem
                    eum maiores eaque id optio ullam occaecati odio est possimus vel reprehenderit</p>
            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img">
                <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>

        </div>
    </div>

</section><!-- /Hero Section -->
<div class="container form-search">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form action="#" class="text-center mb-3">
                <p class="font-weight-bold">Where is my parcel</p>
                <div class="d-flex align-items-stretch">
                    <input type="text" class="form-control" placeholder="Enter a parcel number">
                    <a routerLink="/">
                        <img src="app/assets/images/qrcode.svg" alt="" />
                    </a>
                    <button type="submit" hidden></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Top shipping Section -->
<section id="top-shipping" class="top-shipping section">
    <div class="container">
        <h2>Top shipping solutions suited to your needs</h2>
        <span>Send packages with or without a contract all over Europe with Logistic!</span>
        <div class="link">
            <p>
                <a class="btn btn-top-shipping btn-primary">Get a price offer</a>
            </p>
            <p>
                <a class="btn btn-top-shipping btn-secondary">Send parcel</a>
            </p>
        </div>
    </div>
</section>
<!-- /Top shipping Section -->

<!-- Statistic Section -->
<section id="statistic" class="statistic section">
    <div class="container">
        <h2 class="text-center">Logistic Republic in numbers</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="icon-box-container">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Statistic Section -->

<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>Our ServiceS</h2>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Private parcel sending </h3>
                        <p class="mb-0">Order a private parcel delivery directly using our e-Balík</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary">Send a parcel</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Shipping solution for e-shops</h3>
                        <p class="mb-0">Reliable shipping solution to e-shops and companies of all sizes all over the
                            Europe</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary">Go to shipping solutions</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Careers</h3>
                        <p class="mb-0">Join us and enjoy all the benefits of working at GLS</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary">Join us!</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section><!-- /Services Section -->

<section id="location-search" class="location-search section">
    <div class="container-location-search">
        <div class="container">
            <h2>Logistic Pick-up points</h2>
            <div class="row justify-content-center form-search">
                <div class="col-sm-6">
                    <form action="#" class="text-center mb-3">
                        <p class="font-weight-bold">Find your closest Pick-up point</p>
                        <div class="d-flex align-items-stretch">
                            <input type="text" class="form-control" placeholder="ZIP code or city">
                            <a routerLink="/">
                                <img src="../../assets/images/qrcode.svg" alt="" />
                            </a>
                            <button type="submit" hidden></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>